/* global section word */
.sign-in-opened {
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 2s;
}
.word {
  width: fit-content;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.word h1 {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--main-color);
}
.word h1::before,
.word h1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  background-color: white;
  transform: translate(-50%);
}
.word h1::before {
  animation: word-move-top infinite alternate 3s;
  top: 0;
  border-top: 1px solid var(--main-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.word h1::after {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: word-move-bottom infinite alternate 3s;
  border-bottom: 1px solid var(--main-color);
  bottom: 0;
}
section {
  position: relative;
  padding-top: 200px;
}
/* global section word */
/* global class */

/* global class */
/* intro section style */
.intro {
  position: relative;
  margin-top: 80px;
  background: hsla(199, 100%, 38%, 1);

  background: linear-gradient(
    111deg,
    hsla(199, 100%, 38%, 1) 35%,
    hsla(0, 0%, 100%, 1) 35%
  );
  padding: var(--section-padding);
}
.intro .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.intro .content .img {
  width: 100%;
}
.intro .content .text {
  margin: 80px 0;
  width: 100%;
  color: white;
  transform: translateX(-10%);
}
.intro .content .text h1 {
  font-size: 60px;
  letter-spacing: 6px;
}

/* home section style */
.home {
  display: flex;
  justify-content: space-between;
}
.home .img {
  width: 100vw;
}
.home .img img {
  width: 80%;
}
.home .text {
  position: relative;
}
.home .text::after,
.home .text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  box-shadow: var(--shadow);
  border-radius: 1px;
}
.home .text::before {
  transform: rotate(90deg) translate(-50%);
  top: 90%;
  right: -55%;
}
.home .text::after {
  right: -10%;
  width: 115%;
}
.home .text p {
  color: var(--p-text-color);
  line-height: 2;
}
.home .text strong {
  position: relative;
}
.sign-in {
  position: fixed;
  width: 80%;
  height: 500px;
  background-color: white;
  top: 20%;
  left: -100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  z-index: 4;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-image: url("..\\image\\sign_in.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 2s;
}
.sign-in .exit-icon {
  position: absolute;
  top: 1%;
  right: 1%;
  color: var(--main-color);
  cursor: pointer;
  border-bottom: 1px solid var(--main-color);
}
.sign-in .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
}
/* sign in */
.sign-in .container .right form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}
.sign-in .container .right form input,
.sign-in .container .right form button {
  width: 100%;
  margin: 10px 0;
  height: 30px;
  font-size: 18px;
  color: var(--main-color);
  padding-left: 10px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}
.sign-in .container .right form button {
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  font-size: 19px;
  letter-spacing: 3px;
}
.sign-in .container .right form button:hover {
  box-shadow: var(--shadow);
}
.sign-in .container .right form input:focus {
  border: none;
  outline: 1px solid var(--main-color);
}
/* services section */
/* .services {
  } */
.services .container {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.services .container .card {
  flex-basis: 350px;
  height: 500px;
  border: 1px solid var(--main-color);
  margin: 20px 0;
  text-align: center;
  line-height: 2;
  border-radius: 10px;
}
.services .container .card .img {
  z-index: 0;
}
.services .container .card .img img {
  width: 100%;
  border-radius: 10px;
}
.services .container .card .text {
  position: relative;
  border-radius: inherit;
  background-color: white;
  height: 350px;
  transform: translateY(-35%);
  transition: 1s ease-in-out;
  z-index: 1;
}
.services .container .card .text::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: inherit;
}
.services .container .card .text h2 {
  color: var(--main-color);
  padding-top: 20px;
  font-size: 32px;
  transition: inherit;
}
.services .container .card .text p {
  color: var(--p-text-color);
}
.services .container .card .text .service-link {
  opacity: 0;
  background-color: var(--main-color);
  color: white;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: inherit;
  transform: translateY(85%);
}
.services .container .card .text .service-link.term {
  transform: translateY(5%);
}
.services .container .card:hover .text {
  height: 20%;
}
.services .container .card:hover .text::before {
  top: 100px;
  opacity: 0;
  background-color: #0086c4;
}
.services .container .card:hover .text h2 {
  padding: 0;
  height: fit-content;
  margin-bottom: 0;
}
.services .container .card:hover .text p {
  margin: 0;
}
/* services section */
/* animations */
@keyframes word-move-bottom {
  0% {
    right: -200%;
  }
  100% {
    right: 100%;
  }
}
@keyframes word-move-top {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}
@keyframes card-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/* responsive */
@media (max-width: 1024px) {
  .intro {
    background: linear-gradient(
      111deg,
      hsla(199, 100%, 38%, 1) 40%,
      hsla(0, 0%, 100%, 1) 40%
    );
  }
}
@media (max-width: 768px) {
  .intro {
    background: linear-gradient(
      111deg,
      hsla(199, 100%, 38%, 1) 45%,
      hsla(0, 0%, 100%, 1) 45%
    );
  }
  .intro .content img {
    width: 130%;
    transform: translateY(20%);
  }
  .intro .content .text {
    transform: translateX(0);
  }
  .home {
    justify-content: center;
  }
  .home .container {
    justify-content: center;
    flex-direction: column;
  }
  .home .container .img {
    width: 100%;
    justify-content: center;
    margin: 30px 0;
  }
  .home .container .img img {
    width: 100%;
  }
  .home .text::before {
    top: 110%;
  }
}
@media (max-width: 425px) {
  .word {
    overflow: auto;
  }
  .intro {
    background: var(--main-color);
  }
  .intro .content {
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .intro .content .img img {
    width: 100%;
    transform: translateY(0);
  }
  @keyframes word-move-bottom {
    0% {
      right: -150%;
    }
    100% {
      right: 75%;
    }
  }
  @keyframes word-move-top {
    0% {
      left: -75%;
    }
    100% {
      left: 150%;
    }
  }
}
